.game{
    margin-top: 4rem;
}

.welcome-message{
    font-size: 2rem;
    font-weight: bold;
}
.start-button{
    margin-top:2rem;
    margin-bottom:2rem;
}

.question-text{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.answer{
    text-align: center;
}